
<div class="container-fluid border-radius-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <p class="card-title">Manage Campaigns</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-xl-3 col-sm-6">
            <div class="card shadow">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="mb-0 text-capitalize font-weight-bold mb-2">Today</p>
                                <p class="text-sm">
                                    Total Campaigns:
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md">
                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card shadow">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class=" mb-0 text-capitalize font-weight-bold mb-2">This Week</p>
                                <p class="text-sm">
                                    Total Campaigns:
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md">
                                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-12">
            <div class="card shadow">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class=" mb-0 text-capitalize font-weight-bold mb-2">This Month</p>
                                <p class="text-sm">
                                    Total Campaigns:
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md">
                                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-12">
            <div class="card shadow">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="mb-0 text-capitalize font-weight-bold mb-2">This Year</p>
                                <p class="text-sm">
                                    Total Campaigns:
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md">
                                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped" id="table">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>User Name</td>
                                <td>Campaign Name</td>
                                <td>Sender</td>
                                <td>Start Date</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>sultan</td>
                                <td>Daraz</td>
                                <td>sultan</td>
                                <td>01/02/2021</td>
                                <td><button class="btn bg-gradient-dark">Action</button></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>sultan</td>
                                <td>Daraz</td>
                                <td>sultan</td>
                                <td>01/02/2021</td>
                                <td><button class="btn bg-gradient-dark">Action</button></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>sultan</td>
                                <td>Daraz</td>
                                <td>sultan</td>
                                <td>01/02/2021</td>
                                <td><button class="btn bg-gradient-dark">Action</button></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>sultan</td>
                                <td>Daraz</td>
                                <td>sultan</td>
                                <td>01/02/2021</td>
                                <td><button class="btn bg-gradient-dark">Action</button></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>sultan</td>
                                <td>Daraz</td>
                                <td>sultan</td>
                                <td>01/02/2021</td>
                                <td><button class="btn bg-gradient-dark">Action</button></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>sultan</td>
                                <td>Daraz</td>
                                <td>sultan</td>
                                <td>01/02/2021</td>
                                <td><button class="btn bg-gradient-dark">Action</button></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>sultan</td>
                                <td>Daraz</td>
                                <td>sultan</td>
                                <td>01/02/2021</td>
                                <td><button class="btn bg-gradient-dark">Action</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script>
        $(document).ready(function (){
            $('table').DataTable();
        });
    </script>
    }