
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card pb-0">
                <div class="card-header">
                    <h6 class="font-weight-bolder mb-0">Route Information</h6>
                </div>
                <div class="card-body">
                    <form id="form" method="post" action="/Message/PersonalizedSMS" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Maskings:</label>
                                    <div class="form-group">
                                        @Html.DropDownList("sender", new SelectList(AdminPortal.Codebase.UserProcessing.SelectedMaskings(), "id", "masking"), new
                                   {
                                       @class = "form-control form-control-sm",
                                       required = "true",
                                       id = "sender",
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br />
                                <input type="submit" class="btn bg-gradient-dark" value="View Routes" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>