<div id="ModalAssignContact" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>View User Detail</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped" id="AssignTable" style="width:100%">
                        <thead class="bg-gradient-dark text-white">
                            <tr>
                                <td></td>
                                <td>Id</td>
                                <td>Full Name</td>
                                <td>Mobile</td>
                                <td>Email</td>
                                <td>Option 1</td>
                                <td>Option 2</td>
                                <td>Option 3</td>
                                <td hidden>group id</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn bg-gradient-dark assign">Assign</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

